
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>


<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Adı Soyadı</th>
        <th>Şehir</th>
    </tr>

    <tr>
        <th>1</th>
        <th>Kerem Genbay</th>
        <th>Batman</th>
    </tr>
</table>